html{
    height:100%;


}
header{
    background-color: white;
}
body{
    padding:0;
    margin: 0;
    height: 100%;
    position: relative;
    background-image:linear-gradient(gray,purple);
    letter-spacing:1px;
    font-family: Lucida Bright,Cooper Black, Arial black;
}
#wrap{

    min-height: 100%;
    position: relative;
    background-image:linear-gradient(gray,purple);

}

.year{
    text-align: center;
    color:purple;
    font-size:85px;
    text-decoration : underline;
}
.relative{
    position:relative;


}
.months{
    margin-left: 10%;




}
.month{
    margin-top:12px;



}

.months ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
.months ul li a{
    float:left;
    margin:-1px;
    padding:0px 15px 0px 0px;
    color:purple;
    text-decoration:none;
    font-style : italic;
    font-size:25px;
    font-weight:bold;
    text-transform:uppercase;



}


.months ul li a:hover, .months ul li a.active{
    color:grey;
}
table{
    border-collapse:collapse;
    margin-left: 1%;


}
table td{
    border:1px solid white;
    width:80px;
    height:80px;
}
table td.today{
    border:2px solid black;
    width:80px;
    height:80px;
}
table td.padding{
    border:none;
}
table td:hover{
    background:white;
    cursor:pointer;
}
table th{
    font-weight:normal;
    color:white;
}
table td .day{
    position:absolute;
    color:white;
    bottom:-40px;
    right:5px;
    font-weight:bold;
    font-size:24.3pt;
}
table td .events{
    position:relative;
    width:79px;
    height:0px;
    margin:-39px 0px 0px;
    padding:0px;
}
table td .events li{
    width:10px;
    height:10px;
    float:left;
    background:white;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px 10px 10px 10px;
    margin-left:20px;
    margin-bottom: 10px;
    overflow:hidden;
    text-indent:-3000px;
}
table td:hover .events{
    position:absolute;
    left:590px;
    top:66px;
    width:442px;
    list-style:none;
    margin:0px;
    padding:11px 0px 0px;

}
table td:hover .events li{
    height:70px;
    line-height:40px;
    text-align: center;
    font-weight:bold;
    border-bottom:1px solid white;
    padding-right:41px;
    text-indent:0;
    width:350px;
    opacity: 0.8;
}
table td:hover .events li:first-child{
    border-top:1px solid white;
}
table td .daytitle{
    display:none;
}
table td:hover .daytitle{
    position:absolute;
    left:590px;
    top:21px;
    width:442px;
    list-style:none;
    margin:0px 0px 0px 16px;
    padding:0px;
    color:white;
    font-size:30px;
    display:block;
    font-weight:bold;}
.clear{
    clear:both;
}