#wrap{
    min-height: 100%;
    position: relative;
    background-image:linear-gradient(gray,purple);
}


body{
    padding:0;
    margin: 0;
    height: 100%;
    background-image:linear-gradient(gray,purple);
    position: relative;
}

html{
    height:100%;
}
header{
    background-color:white;
    position: relative;
}

#footer{
    background:white;
    color:black;
    font-size:large;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;

}

#main{
    min-height: 100%;
   position: relative;
    padding-bottom:200px

}

h1{
    color:purple;
    font-family: Lucida Bright,Cooper Black, Arial black;
}

h2{
    color:purple;
    font-family: Lucida Bright,Cooper Black, Arial black;
    font-size:large;
    text-align:center;
}

h3{
    font-family: Lucida Bright,Cooper Black, Arial black;
    color:purple;
    font-size:large;
    text-align:center;
}

.btn{
    font-family: Lucida Bright,Cooper Black, Arial black;
    color:white;
    background-image:linear-gradient(gray,purple);
    border-color:purple;
}

.dropdown-menu{
    margin-left:41%;
    background-image:linear-gradient(gray,purple);
    color:white;
}

.dropdown-menu>li>a {
    color:white;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}

#img1{
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
    opacity:1;
    animation:anim2 4s;
}

#img2{
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
    opacity:1;
    animation:anim2 5s;
}

#img3{
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
    opacity:1;
    animation:anim2 6s;
}

#img4{
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
    opacity:1;
    animation:anim2 7s;
}

.contenu_index{
}

#contenu_index1{
    border-radius: 5px;
    background: white;
    opacity: 0.8;
    animation: anim3 8s;
    max-height: 100%;
    min-height: 395px;
    margin-bottom: 20px;
}

.contenu_osteopathe{
    padding-top: 50px;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom:250px
}

#contenu_horaire{
    border-radius: 5px;
    background:white;
    opacity:0.8;
    animation:anim 3s;
    margin-bottom: 30px;
}

.contenu_consulter{
    min-height: 100%;
    position: relative;
    padding-bottom:200px
}

.contenu_horaires{
    min-height: 100%;
    position: relative;
    padding-bottom:200px
}
.contenu_tarifEtRemboursement{
    min-height: 100%;
    position: relative;
    padding-bottom:200px
}

.contenu_acces{
    margin-top: 30px;
    padding-bottom: 250px;
    min-height: 100%;
    position: relative;
}

.contenu_contact{
    min-height: 100%;
    position: relative;
    padding-bottom:200px
}

.contenu_pkconsulter{
    border-radius: 5px;
    background:white;
    opacity:0.8;
    height:280px;
    overflow:auto;
    animation:anim 3s;
}
.contenu_tarif{
    border-radius: 5px;
    background:white;
    opacity:0.8;
    height:250px;
    animation:anim 3s;
    margin-bottom: 100px;
    margin-top: 50px;
}

.contenu_remboursement{
    border-radius: 5px;
    background:white;
    opacity:0.8;
    height:250px;
    animation:anim 3s;
    margin-bottom: 100px;
    margin-top: 50px;
}

.conteneur_footer{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-left: 18%;
}

.videoWrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}

.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 107%;
    max-height: 107%;
    min-height:395px;
    opacity:1;
    animation:anim2 9s;
}

p{
    font-family:Lucida Bright,Cooper Black, Arial black;
    margin:20px;
    padding:10px;
    color:purple;
}

ul{
    color:purple;
    font-family:Lucida Bright,Cooper Black, Arial black;
}

address{
    font-family: Lucida Bright, Cooper Black, Arial black;
}

strong{
    color:purple;
    font-size:large;
}

#logo{
    opacity:0.7;
    padding-top: 25px;
}

#img_cabinet{
    opacity:1;
    animation:anim 3s;
}

#map{
    opacity:1;
    animation:anim 4s;
}

#titre{
    opacity:1;
    animation:anim2 1s;
}

#heure{
    color:black;
}

#special{
    opacity:1;
    animation:anim2 3s;
}

#bio{
    border-radius: 5px;
    background:white;
    opacity:0.8;
    font-family:Lucida Bright,Cooper Black, Arial black;
    color:purple;
    animation:anim 3s;
}

.img_osteo{
    opacity:1;
    animation:anim 3s;
}

.img_consulter{
    opacity:1;
    animation:anim 3s;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}


#texte1{
    color:white;
    font-size:large;
    text-align:center;
}

legend{
    color:white;
    font-size:large;
    font-family:Lucida Bright,Cooper Black, Arial black;
}

label{
    color:white;
    font-family:Lucida Bright,Cooper Black, Arial black;
}

textarea{
    height: 200px;
    width:500px;
}

@keyframes anim{
    0% { opacity: 0;}
}

@keyframes anim2{
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes anim3{
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% { opacity: 0.8;}
}

